h3{
  margin: 2%;
}

a{
  color: white;
}

hr{
  border-top: 3px solid
}

p{
  font-size: 1.5rem;
  font-weight: lighter;
}

.title{
    text-align: center;
    background-color: black;
    color: white;
    padding: 3%;

}

.title-h1{
  font-family: 'Gochi Hand', cursive;
  font-size: 4.5rem;
  margin: 0;
}

.title-h3{
  font-family: 'Gochi Hand', cursive;
  font-size: 3rem;
  margin-top: 0;
}

.title-p{
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
}

.salma-img{
  display: block;
  margin: 60px auto 10px;;
  width: 400px;
  height: 400px;
}

.about-me{
  margin: 5%;
  text-align: center;
}

.about-me-header{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.about-me-paragraph{
  font-size: 1.75rem;
  font-weight: lighter;
}

.instagram-img{
  height: 40px;
  width: 40px;
}

.hand-img{
  display: block;
  margin: 10px auto;
  width: 350px;
  height: 450px;
}
